.custom-navbar {
  background-color: rgba(33, 24, 9, 0.85);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0 !important;
  padding-bottom: 0.5rem;
  border-radius: 0 !important; /* quitar rounded-bottom */
}

.navbar .nav-link {
  color: #f5f5f5 !important;
  font-weight: 500;
}

.navbar .nav-link:hover {
  color: #ffdd8b !important; /* dorado cálido */
  transform: scale(1.05);
}

.navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

.text-gradient {
  background: linear-gradient(45deg, #ffdd8b, #e4b55c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}